
body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color : #F0F0F0;
	font-size:16px;
}

.fix-img{
	width:100%;
}

.no-demo{
	color:red;
}

.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: .2rem;
  width: 4rem;
}
.my-gallery figcaption {
  display: none;
}